<div>
  <mat-grid-list cols="1" rowHeight="25px"
                *ngFor = "let movie of movies">
   <movie 
      [data] = "movie"
      (deleteMe) = "hideHim($event)">
    </movie>
  </mat-grid-list>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style = "text-align: center;">The movie you deleted is: {{name}}</div>