<mat-grid-list cols = "5" id={{id}}
                *ngIf = "showMe">
  <mat-grid-tile>
    {{id}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{title}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{Studio}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{weekend_income}}
  </mat-grid-tile>
  <mat-grid-tile>
    <button (click) = "deleteRow()">
      Delete Movie
    </button>
  </mat-grid-tile>
</mat-grid-list>